:root {
  --bg: #0f1117;
  --card: #171a21;
  --text: #e6e6e6;
  --muted: #9aa4b2;

  --accent: #7c6af7;
  --danger: #ff4d4d;
  --ok: #22c55e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* APP */
.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 28px;
  font-weight: 800;
}

.header span {
  color: var(--accent);
}

/* INPUT */
.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-area input,
.input-area select {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: var(--card);
  color: var(--text);
  outline: none;
}

.input-area button {
  background: var(--accent);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.input-area button:hover {
  opacity: 0.9;
}

/* SEARCH */
#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background: var(--card);
  color: var(--text);
}

/* TASK LIST */
#taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* TASK */
.task {
  background: var(--card);
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.task:hover {
  transform: scale(1.01);
}

/* LEFT SIDE */
.task div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task span {
  font-size: 15px;
}

/* PRIORITY */
.task small {
  color: var(--muted);
  margin-left: 5px;
}

/* BUTTONS */
.task button {
  border: none;
  padding: 6px 8px;
  margin-left: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  background: #2a2f3a;
  color: white;
  transition: 0.2s;
}

.task button:hover {
  transform: scale(1.1);
}

/* EDIT */
.task button:first-child {
  background: #3b82f6;
}

/* DELETE */
.task button:last-child {
  background: var(--danger);
}

/* CHECKED */
input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .input-area {
    flex-direction: column;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}